body {
    font-family: "Verdana", "Geneva", sans-serif;
    font-weight: 200;
    color: #555555;
    font-size: 14px;
    line-height: 1.4;

}

.app {
    padding: 5rem 17.5vw;
}

.header {
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 2px;
    color: #042A2B;
    margin-bottom: 2.5rem;
}

.centre {
    display: flex;
    gap: 5rem;
    height: 55vh;
}

.centre-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-button {
    display: inline-block;
    white-space: nowrap;
}

.nav-button:hover {
    color: cornflowerblue;
}

.link {
    color: cornflowerblue;
}

.footer {
    display: inline-block;
    white-space: nowrap;
}

.expeditions-drop-one {
    display: none;
    flex-direction: column;
}

.expeditions-drop-two {
    display: none;
    flex-direction: column;
}

.expeditions-drop-two-button {
    margin-left: 1.5rem;
    margin-bottom: 0.25rem;
}

.expeditions-drop-three-button {
    margin-left: 1.5rem;
    margin-bottom: 0.25rem;
}

.expeditions-drop-two-button-sub {
    margin-left: 2.5rem;
    margin-bottom: 0.15rem;
}

.expeditions-drop-three-button-sub {
    margin-left: 2.5rem;
    margin-bottom: 0.15rem;
}

.expeditions-drop-three {
    display: none;
    flex-direction: column;
}

.main-image {
    height: 100%;
    aspect-ratio: 16/9;
}

.main-image img {
    height: 100%;
    object-fit: contain;
}

.main-video {
    height: 45vh;
    max-width: 95vw;
}

.main-video-embed {
    height: 100%;
    max-width: 95vw;
    object-fit: contain;
    aspect-ratio: 16/9;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-video-embed iframe {
    max-width: 95vw;
}

.main-video-embed img {
    height: 100%;
    object-fit: contain;
}

.about-text {
    width: 65ch;
    max-width: 95vw;
    text-align: justify;
    font-size: 0.75rem;
}

.about-text p {
    margin: 0.5rem;
}

.video-text {
    width: 90ch;
    max-width: 95vw;
    text-align: justify;
    margin-bottom: 1.25rem;
    margin-top: calc(10vh - 1.5rem);
}

.text-indent {
    margin-left: 1.5rem;
    display: block;
}


@media screen and (max-width:1000px){
    .app{
        padding:5rem 2.5vw;
    }
    .footer {
        display:none;
    }
    .centre {
        flex-direction: column;
    }
    /* .about-text {
        width:35ch;
    }
    .video-text {
        width:35ch;
    } */
}